body {
    background-color: rgb(247, 214, 153);
}


.title {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(219, 160, 51);
    border-radius: 10px;
    padding: none;
    box-shadow: 3px 2px 2px rgb(155, 111, 29);
}
.infos {
    text-align: center;
    position: absolute;
    right: 50px;
}
.saiba_mais {
    text-decoration: none;
    color: rgb(255, 237, 203);
    transition: 0.3s;
}

.contatos {
    text-decoration: none;
    color: rgb(255, 237, 203);
    transition: 0.3s;
}
.adopetlogo0 {
    font-size: 25px;
    color: rgb(255, 237, 203);
    text-decoration: none;
    transition: 0.3s;
}
.adopetlogo0:hover {
    color: rgb(97, 66, 8);

}
.pet1 {
    display: flex;
    padding-top: 15px;
}
.imgpet1 {
    display: flex;
    border: 5px solid rgb(219, 160, 51);
    margin-bottom: none;
}
.txtpet1 {
    padding-left: 10px;
    font-size: 30px;
}
.pet2 {
    display: flex;
    padding-top: 15px;
}
.imgpet2 {
    display: flex;
    border: 5px solid rgb(219, 160, 51);
}
.txtpet2 {
    padding-left: 10px;
    font-size: 30px;
}
.pet3 {
    display: flex;
    padding-top: 15px;
}
.imgpet3 {
    display: flex;
    border: 5px solid rgb(219, 160, 51);
}
.txtpet3 {
    padding-left: 10px;
    font-size: 30px;
}
.cabeçalho {
    display: flex;
    align-items: center;
}
.containercontatos {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    background-color:rgb(219, 160, 51);
    width: 500px;
    margin: 100px auto;
    text-align: center;
    color: rgb(255, 237, 203);
    box-shadow: 3px 2px 2px rgb(155, 111, 29);
}
.contatos:hover {
    color: rgb(97, 66, 8);
}
.saiba_mais:hover {
    color: rgb(97, 66, 8);
}